{% extends 'layouts/app.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include('layouts/sidebar.html') %}
            <div class="col-md-9">
                <h4>{{ auth().name }}'s questions</h4>
                <div>
                    {% for question in questions %}
                        <div class="row">
                            <div class="col">
                                <div class="card border-light mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="{{ route('question', {'id': question.id}) }}">{{ question.title }}</a></h5>
                                        <p class="card-text"> {{ question.body|truncate(100) }} </p>
                                        <p><a href="{{ route('question', {'id': question.id}) }}">Read more</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">No question yet, please <a href="/ask">ask here!</a>.</h5>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
