{% extends 'auth/base.html' %}

{% block content %}
<div class="row justify-content-center pt-5">
    <div class="col-md-5">
        <form action="{{ route('login') }}" method="POST">
            {{ csrf_field }}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control {{ 'is-invalid' if bag().has('email') else '' }}" name="email" value="{{ old('email') }}">
                {% if bag().has('email') %}
                    <div class="invalid-feedback" role="alert">
                        <strong>{{ bag().first('email') }}</strong>
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control {{ 'is-invalid' if bag().has('password') else '' }}" name="password">
                {% if bag().has('password') %}
                    <div class="invalid-feedback" role="alert">
                        <strong>{{ bag().first('password') }}</strong>
                    </div>
                {% endif %}
            </div>
            <p class="text-right">
                <a href="{{ route('forgot.password') }}">Forgot password?</a>
            </p>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
</div>
{% endblock %}