{% extends 'auth/base.html' %}

{% block content %}
<div class="row justify-content-center pt-5">
    <div class="col-md-5">
        <form action="{{ route('register') }}" method="POST">
            {{ csrf_field }}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control {{ 'is-invalid' if bag().has('name') else '' }}" name="name" value="{{ old('name') }}">
                {% if bag().has('name') %}
                    <div class="invalid-feedback" role="alert">
                        <strong>{{ bag().first('name') }}</strong>
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="name">Email</label>
                <input type="email" class="form-control {{ 'is-invalid' if bag().has('email') else '' }}" name="email" value="{{ old('email') }}">
                {% if bag().has('email') %}
                    <div class="invalid-feedback" role="alert">
                        <strong>{{ bag().first('email') }}</strong>
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control {{ 'is-invalid' if bag().has('password') else '' }}" name="password">
                {% if bag().has('password') %}
                    <div class="invalid-feedback" role="alert">
                        <strong>{{ bag().first('password') }}</strong>
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
        <p class="text-center pt-4 pb-2">
            Or continue with
        </p>
        <a href="{{ route('social.auth.login') }}" class="btn btn-primary btn-block">GitHub</a>
        <p class="text-center pt-3">
            <a href="{{ route('login') }}">Already have an account?</a>
        </p>
    </div>
</div>
{% endblock %}