{% extends "layouts/base.html" %}

{% block content %}
  <div class="mt-20 text-center">
    <h2 class="text-5xl font-extrabold leading-none tracking-tight text-gray-900 sm:text-6xl">
      The Masonite Forum
      <br class="hidden sm:block" />
      <span class="text-primary">for problem solving.</span>
    </h2>
    <p class="mt-6 text-base leading-6 text-gray-600 sm:leading-7 sm:text-lg md:mt-8">
      Join <strong class="font-semibold">35,538+</strong> web developers learning
      <strong class="font-semibold">Masonite Framework</strong> to build their
      ideas, products, and businesses.
    </p>
    <div class="mt-10 md:mt-12">
      <div class="rounded-md shadow sm:inline-flex">
        <a
          class="btn btn:primary btn:lg w-full justify-center sm:w-auto"
          href="{{ route('register') }}">
          Join the community
          </a>
      </div>
      <div class="mt-3 rounded-md sm:inline-flex sm:mt-0 sm:ml-2">
        <a
          class="btn btn:secondary btn:lg w-full justify-center sm:w-auto"
          href="{{ route('questions.index') }}">
          Visit the forum
        </a>
      </div>
    </div>
  </div>
  <div style="height: 100px;"></div>
{% endblock %}

