{% extends "layouts/app.html" %} {% block content %}
<div class="front-page">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-md-8">
                <h1>Welcome to Masonite Forum 🎉</h1>
                <p>Vote based Question & Answer site built using Masonite Framework.</p>
            </div>
        </div>
    </div>
</div>
<div class="container pt-5">
    <form method="GET">
        <div class="row justify-content-center pb-5">
            <div class="col-md-6">
                <div class="text-center">
                    <input type="text" name="search" id="search" class="search" placeholder="Search..." autofocus>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        {% include('layouts/sidebar.html') %}
        <div class="col-md-9">
            <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                    <tbody>
                        {% for question in questions %}
                            <tr>
                                <td class="text-center">
                                    <div class="d-block">
                                        <a href="{{ route('users.show', {'id': question.user.id}) }}">
                                            <img src="http://via.placeholder.com/50x50/579626/fff?text={{question.user.name.0}}" alt="" style="border-radius: 5px">
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div><a href="{{ route('questions.show', {'id': question.id}) }}">{{ question.title|truncate(40) }}</a></div>
                                    <div class="small text-muted">
                                        {{ question.body|truncate(40) }}
                                    </div>
                                    <p class="small">
                                        {% for tag in question.get_tags() %} {% if tag %}
                                        <span class="badge badge-primary">
                                            #{{ tag }}
                                        </span>
                                        {% endif %} {% endfor %}
                                    </p>
                                </td>
                                <td>
                                    <div class="small text-muted">{{ question.user.name }}</div>
                                    <div>{{ question.created_at.strftime('%B %d - %I:%M:%S') }}</div>
                                </td>
                                <td class="text-center">
                                    <div class="chart-circle-value"> {{ question.answers|length }} </div>
                                    <div class="">
                                        posts
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                        <div class="card text-center" style="border: 0.2rem solid #f7f7f9">
                            <div class="card-body">
                                <h5 class="card-title">No questions found</h5>
                                <a href="{{ route('questions.create') }}" class="btn btn-primary">Ask question!</a>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if questions.current_page > 1 %}
                        <li class="page-item">
                            <form method="GET">
                                <input type="number" hidden value="{{ questions.current_page - 1 }}" name="page" id="page">
                                <button class="page-link" type="submit">Previous</button>
                            </form>
                        </li>
                        {% endif %}
                        {% if questions.has_more_pages() %}
                            {% for i in range(1, (questions.total / questions.count())|round|int + 1)  %}
                                <li class="page-item {% if questions.current_page == i %} active {% endif %}">
                                    <form method="GET">
                                        <input type="number" hidden value="{{ i }}" name="page" id="page">
                                        <button class="page-link" type="submit">{{ i }}</button>
                                    </form>
                                </li>
                            {% endfor %}
                        {% endif %}
                        {% if questions.current_page != questions.last_page %}
                        <li class="page-item">
                            <form method="GET">
                                <input type="number" hidden value="{{ questions.next_page }}" name="page" id="page">
                                <button class="page-link" type="submit">Next</button>
                            </form>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

{% endblock %}