{% extends "layouts/app.html" %}
{% block content %}

<div class="container">
    <div class="row">
        {% include('layouts/sidebar.html') %}
        <div class="col-md-9">
            {% for question in questions %}
                <div class="row">
                    <div class="col">
                        <div class="card border-light mb-3">
                            <div class="card-body">
                                <h5 class="card-title"><a href="/questions/{{ question.id }}">{{ question.title }}</a></h5>
                                <p class="card-text"> {{ question.body|truncate(100) }} </p>
                                <p><a href="/questions/{{ question.id }}">Read more</a></p>
                                <footer class="blockquote-footer">asked by {{ question.user.name }}, <cite> {{ question.created_at.strftime('%B %d - %I:%M:%S') }} </cite></footer>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">No questions found</h5>
                        <a href="/ask" class="btn btn-primary">Ask question!</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}