<!DOCTYPE html>
<html>
  <head>
    <title>Masonite Forum {% block title %}{% endblock %}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />

    <style>
      :root {
        --color-primary: #625dc9;
        --color-primary-hover: #5651b9;
      }
    </style>
    <link rel="stylesheet" href="/css/application.css" />
  </head>
  <body>
    <div id="app">
      {% include 'layouts/navbar.html' %}
      {% include 'alerts/email_confirmation.html' %}
      {% block content %}{% endblock %}
      {% include 'layouts/footer.html' %}
    </div>
  </body>
</html>
