<div class="container">
    <header class="py-3 mb-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="{{ route('home') }}" style="font-size: 20px; text-decoration: none">Masonite Forum</a>
        </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            {% if auth() %}
                <div class="dropdown ml-1">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="http://via.placeholder.com/30x30/579626/fff?text={{auth().name.0}}" alt="" class="mr-2 rounded">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ route('users.show', {'id': auth().id}) }}">View Profile</a>
                        <a class="dropdown-item" href="https://github.com/nioperas06/masonite-forum" target="_blank">Repository <i class="fas fa-external-link-square-alt"></i></a>
                        <a class="dropdown-item" href="https://github.com/MasoniteFramework/masonite" target="_blank">Masonite <i class="fas fa-external-link-square-alt"></i></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ route('logout') }}">Logout</a>
                    </div>
                </div>
            {% else %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ route('login') }}">Login</a>
                <a class="btn btn-sm btn-outline-secondary ml-1" href="{{ route('register') }}">Sign up</a>
            {% endif %}
          </div>
        </div>
    </header>
</div>