<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if questions.current_page > 1 %}
        <li class="page-item">
            <form method="GET">
                <input type="number" hidden value="{{ questions.current_page - 1 }}" name="page" id="page">
                <button class="page-link" type="submit">Previous</button>
            </form>
        </li>
        {% endif %}
        {% if questions.has_more_pages() %}
            {% set count = questions.count() + 1 %}
        {% else %}
            {% set count = questions.count() %}
        {% endif %}
        {% for i in range(1, (questions.total/count)|round|int)  %}
            <li class="page-item {% if questions.current_page == i %} active {% endif %}">
                <form method="GET">
                    <input type="number" hidden value="{{ i }}" name="page" id="page">
                    <button class="page-link" type="submit">{{ i }}</button>
                </form>
            </li>
        {% endfor %}
        {% if questions.current_page != questions.last_page %}
        <li class="page-item">
            <form method="GET">
                <input type="number" hidden value="{{ questions.next_page }}" name="page" id="page">
                <button class="page-link" type="submit">Next</button>
            </form>
        </li>
        {% endif %}
    </ul>
</nav>
