<div class="col-md-3">
    <a class="btn btn-outline-primary btn-block btn-sm mb-1" href="{{ route('questions.create') }}">Ask A Question</a>
    <ul class="list-group">
        {% for category in categories %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{ route('categories.questions.index', {'id': category.id}) }}" style="text-decoration: none">{{ category.name }}</a>
            <i style="color: {{category.random_color()}}" class="fa fa-circle mr-2"></i>
        </li>
        {% endfor %}
    </ul>
</div>